CreateTreatmentScreen
/* src/assets/styles/CreateTreatmentScreen.css */

/* From Uiverse.io by ozgeozkaraa01 */ 
.custom-radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 500px;
}

.custom-radio {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.custom-radio input[type="radio"] {
  display: none;
}

.radio-label {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.radio-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #ffcc00;
  border-radius: 50%;
  margin-right: 10px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.radio-text {
  font-size: 1rem;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.custom-radio input[type="radio"]:checked + .radio-label {
  background-color: #ffcc00;
}

.custom-radio input[type="radio"]:checked + .radio-label .radio-circle {
  border-color: #fff;
  background-color: #ffcc00;
}

.custom-radio input[type="radio"]:checked + .radio-label .radio-text {
  color: #64748b;
}

.custom-button {
  background-color: #ffcc00; /* Color base */
  display: flex;
  border-radius: 20px;
  font-size: 12px; /* Tamaño de fuente más pequeño */
  padding: 20px 16px; /* Espaciado interno */
  text-align: center;
  justify-content: center;
  width: 150px;
  border: none; /* Sin borde */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra inicial */
  transition: all 0.3s ease; /* Transición suave */
}

.custom-button:hover {
  background-color: #ffdb4d; /* Color más claro al pasar el cursor */
  transform: scale(1.1); /* Efecto de zoom mayor */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  cursor: pointer; /* Cambia el cursor al pasar */
}

.custom-button:active {
  transform: scale(0.95); /* Reduce tamaño al hacer clic */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más pequeña */
}

.createbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-date-input {
  width: 150px; /* Ancho del campo */
  height: 30px; /* Alto del campo */
  font-size: 14px; /* Tamaño del texto */
  padding: 22px; /* Espaciado interno */
}

.date-row {
  display: flex; /* Activa el modelo Flexbox */
  gap: 20px; /* Espaciado entre los campos */
  align-items: flex-end; /* Alinea las etiquetas con los campos */
}
.small-date-input {
  width: 150px; /* Ajusta el ancho del campo */
}
