/* CustomButton.css */
/* From Uiverse.io by Creatlydev */
.button {
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.35em;
    padding: 0.75em 1em;
    padding-right: 1.25em;
    color: #fff;
    border: 1px solid transparent;
    font-weight: 700;
    border-radius: 2em;
    font-size: 1rem;
    box-shadow: 0 0.7em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
    transition: transform 0.3s;
  
    background: linear-gradient(
      90deg,
      rgb(54, 77, 208) 0%,
      rgb(116, 176, 254) 100%
    );
  }
  
  .button__icon {
    width: 1.5em;
    height: 1.5em;
  }
  
  .button:hover {
    border-color: #f4f5f2;
  }
  
  .button:active {
    transform: scale(0.98);
    box-shadow: 0 0.5em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
  }
  
  /* Additional styles for specific button variants */
  .button.delete-button {
    background: #dc3545; /* Bootstrap danger color */
    box-shadow: 0 0.7em 1.5em -0.5em rgba(220, 53, 69, 0.745);
  }
  
  .button.delete-button:active {
    box-shadow: 0 0.5em 1.5em -0.5em rgba(220, 53, 69, 0.745);
  }
  