/* Fondo que ocupa toda la pantalla */
.fullscreen-background {
    position: fixed;
    /* Fijo para que el fondo abarque toda la pantalla */
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url('../cerebro.png');
    background-size: cover;
    background-position: center;
    z-index: -10;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url('../cerebro.png');
    background-size: cover;
    background-position: center;
    filter: blur(2px); /* Aplica un desenfoque suave */
    
    
}

/* Contenedor del formulario */
.login-container {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 100%;
    height: 100vh;    
   padding-bottom: 3rem;
}

input,
button,
a {
    z-index: 2;
    position: relative;
}

.login-page {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    z-index: 2;
    
}

.form-wrapper {
    position: relative;
    padding: 15px;
    border-radius: 1rem;
    background: rgb(255, 255, 255);
    
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: auto;
    animation: fadeIn 1.5s ease-out;
}
/* Animación de entrada */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación de los bordes */
@keyframes borderAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Contenedor interior del formulario */
.form-inner {
    background-color: #ffffff;
    /* Fondo blanco */
    padding: 3rem;
    /* Espaciado interno */
    border-radius: 0.75rem;
    /* Bordes redondeados */
    position: relative;
    z-index: 1;
    /* Por encima del contenedor exterior */
    width: 28rem;
    /* Ancho del contenedor interno */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* Sombra adicional opcional */
}

/* Título del formulario */
#form-title {
    text-align: center;
    font-size: 2.25rem;
    /* Tamaño de fuente aumentado */
    line-height: 2.5rem;
    /* Ajuste para alineación */
    font-weight: 700;
    /* Negrita */
    margin-bottom: 2.5rem;
    /* Espacio debajo del título */
    color: #1f2937;
    /* Color de texto gris oscuro */
}

/* Espaciado entre elementos del formulario */
.form-space {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

/* Estilos de los inputs */
.input-field {
    width: 100%;
    height: 3.5rem;
    /* Incrementamos la altura */
    border: 1px solid #1f2937;
    /* Borde gris oscuro */
    padding-left: 1rem;
    /* Espaciado interno */
    padding-right: 1rem;
    border-radius: 15rem;
    /* Bordes redondeados */
    box-sizing: border-box;
    font-size: 1.1rem;
    /* Tamaño de fuente mayor */
  
}

/* Estilos del botón principal */
.primary-button {
    width: 100%;
    height: 3.5rem;
    /* Incrementamos la altura */
    background-color: #3b82f6;
    /* Azul */
    color: white;
    /* Texto blanco */
    font-weight: 700;
    /* Negrita */
    border-radius: 15rem;
    /* Bordes redondeados */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;
    /* Tamaño de fuente mayor */
}

.primary-button:hover {
    background-color: #2563eb;
    /* Azul más oscuro al pasar el cursor */
}

.primary-button:disabled {
    background-color: #93c5fd;
    /* Azul claro cuando está deshabilitado */
    cursor: not-allowed;
}

/* Estilos de los botones secundarios */
.secondary-button {
    width: 100%;
    height: 3.5rem;
    /* Incrementamos la altura */
    background-color: #10b981;
    /* Verde */
    color: white;
    /* Texto blanco */
    font-weight: 700;
    /* Negrita */
    border-radius: 15rem;
    /* Bordes redondeados */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;
    /* Tamaño de fuente mayor */
}

.secondary-button:hover {
    background-color: #059669;
    /* Verde más oscuro al pasar el cursor */
}

.secondary-button.yellow {
    background-color: #f59e0b;
    /* Amarillo */
}

.secondary-button.yellow:hover {
    background-color: #d97706;
    /* Amarillo más oscuro al pasar el cursor */
}

.secondary-button.purple {
    background-color: #8b5cf6;
    /* Púrpura */
}

.secondary-button.purple:hover {
    background-color: #7c3aed;
    /* Púrpura más oscuro al pasar el cursor */
}

/* Estilos del enlace */
.link {
    color: #3b82f6;
    /* Azul */
    font-size: 1rem;
    /* Tamaño de fuente ajustado */
    line-height: 1.5rem;
    text-decoration: none;
    display: block;
    text-align: center;
}

.link:hover {
    color: #1d4ed8;
    /* Azul más oscuro al pasar el cursor */
}

/* Estilos para mensajes y alertas */
.alert-info,
.alert-error,
.alert-success {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1rem;
    /* Tamaño de fuente ajustado */
}

.alert-info {
    color: #3b82f6;
    /* Azul */
}

.alert-error {
    color: #ef4444;
    /* Rojo */
}

.alert-success {
    color: #10b981;
    /* Verde */
}

/* Estilos para el video y canvas */
.video-container {
    position: relative;
    margin-top: 1.5rem;
}

.video-container video,
.video-container canvas {
    border-radius: 0.625rem;
    /* Bordes redondeados */
    width: 320px;
    height: 240px;
}

.video-container canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* Estilos para mensajes de carga */
.loader {
    text-align: center;
    color: #6b7280;
    /* Gris medio */
    margin-top: 1.5rem;
    font-size: 1rem;
    /* Tamaño de fuente ajustado */
}

/* Reseteo de estilos para botones */
button {
    font: inherit;
}

/* Reseteo de estilos para inputs */
input {
    font: inherit;
    margin: 0;
}

/* Reseteo de estilos para enlaces */
a {
    text-decoration: none;
}

/* Estilos para las etiquetas de campo */
.input-label {
    font-size: 1rem;
    font-weight: 500;
    color: #1f2937;
    display: block;
    margin-bottom: 0.5rem;
}

/* Asterisco rojo para indicar campos obligatorios */
.required-asterisk {
    color: #ef4444;
    /* Rojo */
    font-weight: bold;
}

.mailfield {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #8f8f8f;
    border-radius: 15rem;
    padding: 4px;
    box-sizing: border-box;
   
}

.icon {
    color: #000000;
    /* Color del ícono */
    font-size: 20px;
    /* Tamaño del ícono */
    margin-right: 1px;
}

.input-field {
    flex: 1;
    border: none;
    /* Sin borde, lo maneja el contenedor */
    outline: none;
    font-size: 16px;
    color: #333;
}

.input-field2 {
    flex: 1;
    border: none;
    /* Sin borde, lo maneja el contenedor */
    outline: none;
    font-size: 16px;
    color: #333;
}

.mailfield2 {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #8f8f8f;
    border-radius: 15rem;
    padding: 3px;
    box-sizing: border-box;
}


.icon2 {
    color: #000000;
    /* Color del ícono */
    font-size: 20px;
    /* Tamaño del ícono */

}

.typing-animation-container {
    position: absolute; /* Para sacarlo del flujo normal del contenido */
    top: 50%; /* Centra verticalmente */
    right: 2rem; /* Ajusta la distancia desde el borde derecho */
    transform: translateY(-50%); /* Ajusta el centro verticalmente */
    z-index: 1000; /* Coloca el texto al frente de todo */
    color: white;
    font-size: 1.2rem; /* Ajusta el tamaño del texto */
    text-align: right;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra para mejorar visibilidad */
    max-width: 300px; /* Ajusta el ancho máximo */
    white-space: pre-wrap; /* Permite saltos de línea */
  }
  
  .typing-animation-container .typing-text {
    font-size: 1.2rem;
    line-height: 1.5;
    overflow: hidden;
    border-right: 2px solid white;
    animation: blink 0.7s step-end infinite;
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  



/*ESTILOS PARA REGISTRO*/
.register-page {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
    position: relative; /* Asegura un stacking context para los elementos hijos */
    z-index: 10; /* Asegura que este contenedor esté sobre el fondo */
    overflow: hidden; /* Evita que los elementos sobresalgan */
}


.fullscreen-background2 {
    position: fixed;
    /* Fijo para que el fondo abarque toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../cerebro.png');
    background-size: cover;
    background-position: center;
    z-index: -1;   

}

.form-wrapper2 {
    position: relative;
    padding: 1.5rem;
    border-radius: 1rem;
    /*background: linear-gradient(270deg, #1986f3, #ff8c00, #6a8ef1, #fcb64c);
    background-size: 800% 800%; 
    animation: borderAnimation 8s ease infinite;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
    z-index: 3;
    display: flex;
    justify-content: center;    
    width: 45rem;
    max-width: 90%;   
    margin-bottom: 30px;
   

}

.form-inner2 {
    background-color: #ffffff;
    padding: 2.5rem;
    border-radius: 0.75rem;
    position: relative;
    z-index: 11;
    width: 100%;
    max-width: 40rem; /* Limita el ancho para pantallas grandes */   
    
}

/* Diseño del formulario en dos columnas */
.form-grid {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que las columnas se ajusten en pantallas pequeñas */
   
    
}

.form-column {
    flex: 1;
    min-width: 16rem; /* Aseguramos que las columnas no sean demasiado pequeñas */
  
    padding-bottom: 1rem;
}

/* Input field styles */
.input-field2 {
    width: 100%;
    height: 3rem;
    border: 1px solid #1f2937;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 15rem;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field2:focus {
    border-color: #1986f3;
    outline: none;
    box-shadow: 0 0 5px rgba(25, 134, 243, 0.5);    
}

/* Media Queries para Responsividad */
@media (max-width: 1024px) {
    .form-wrapper2 {
        width: 90%;
        padding: 1rem;
    }

    .form-grid {
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .form-grid {
        flex-direction: column; /* Cambia las columnas a filas */
        gap: 1rem;
    }

    .form-column {
        min-width: 100%; /* Cada columna ocupa todo el ancho */
    }

    .form-wrapper2 {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .form-inner2 {
        padding: 1rem;
    }

    .input-field2 {
        font-size: 0.9rem; /* Reduce el tamaño de fuente en pantallas pequeñas */
        height: 2.8rem;
    }
}


.register-container {
    display: flex;
    align-items: left;
    justify-content: left;
 
}
@media (max-width: 768px) {
    .typing-animation-container {
      right: 1rem;
      font-size: 1rem; /* más pequeño para tablets */
      max-width: 200px; /* reduce el ancho */
    }
  }
  
  @media (max-width: 480px) {
    .typing-animation-container {
      font-size: 0.9rem; /* todavía más pequeño en móviles */
      max-width: 150px;
    }
  }
  