/* src/assets/styles/Mood.css */

.mood-screen {
  padding: 20px;
  font-family: Arial, sans-serif;
}


.mood-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.mood-chart h3 {
  margin-bottom: 10px;
}

.patients-list ul {
  list-style-type: none;
  padding: 0;
}

.patient-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.patient-item:hover,
.patient-item.active {
  background-color: #f0f0f0;
}

.mood-data {
  margin-top: 20px;
}

.mood-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}


.mood-table th,
.mood-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.mood-table th {
  background-color: #f2f2f2;
}
