.treatments-list-container {
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .list-group-item {
    cursor: pointer;
  }
  
  .list-group-item.active {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .card {
    border-radius: 8px;
  }
  
  .btn-warning {
    display: flex;
    align-items: center;
  }
  
  .btn-warning svg {
    margin-right: 5px;
  }
  